body{ 
	background: 
    	;
	max-width: 1024px; 
	margin-left: auto; 
	margin-right: auto;  
	}
#header {
	background: url(/images/eesti.jpeg) center no-repeat;
	text-align: center;
	margin-top: 10px;
	
	}
p.normal {
	font-style:normal;
	}

#all {
	margin: 0 auto;
	width: 800px;
	}
	
h1 {
	margin-bottom: 0;
	font-family: Calibri;
}

h2 {
	text-align:center;
	margin-top:30px;
	font-family:Calibri;
}
h3 {
	text-align:left;
	font-family:Calibri;
}

#esileht {
	font-family:Calibri;
	text-align:center;
}
#abileht {
	font-family:Calibri;
	text-align:left;
}
#minuandmedleht {
	margin-left:10px;
	height:200px;
	
	float:left;	
}

.navbar {
	margin-top: 10px;
	text-align:center;
	}

#clickedButton {
	width:120px;
	background-color:lightsalmon;
	
}

#defaultButton {
	width: 120px;
	background-color:lightyellow;
}

#statistikaMenu {
	height:200px;
	width:50px;
	float:left;
}

#statkandidaadidleht {
	margin-left:100px;
	text-align:center;
	
}


#statkandidaadidleht2 {
	margin-top:30px;
	text-align:left;
	margin-left:200px;
}

#printButton {
	width:120px;
	background-color:dodgerblue;
	float:right;
}
#piirkondValikud {
	text-align:center;
}
#piirkondleht {
	text-align:center;
}

#printpealkiri {
	margin-top:30px;
	text-align:center;
	font-family:Calibri;
	font-size:250%;
}

#printleht {
	text-align:center;
	align:center;
}

table.center {
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	
}

th,td {
border: 1px solid;
padding: 8px;
}

#kandidaadid {
	margin-top:30px;
	text-align:left;
	margin-left:200px;
}

#otsi {
	margin-top:30px;
	text-align:left;
	
}


