body
{
	margin:0px;
	padding:0px;
	font-family:'PT Sans',sans-serif;
}

.main
{
	margin:60px auto 0 auto;
	width:50%;
}

.tabs li
{
	display:inline;
}

.tabs li a
{
	cursor: pointer;
	padding:1% 1% 1% 1%;
	border:1px solid #cccccc;
	font-family:'PT Sans',sans-serif;
	font-size:13px;
	color:#666666;
	font-weight:400;
	text-transform:uppercase;
	background:lightyellow;
}

.tabs .tab-current
{
	padding: 1% 1% 1% 1%;
	border-bottom:0px;
	background:lightsalmon;
}

.tabsContent
{
	border:1px solid #cccccc;
	-moz-box-shadow: 3px 3px 5px #cccccc;
	-webkit-box-shadow: 3px 3px 5px #cccccc;
	box-shadow: 3px 3px 5px #cccccc;
	background:lightyellow;
	padding:20px 20px 20px 20px;
	color:#666666;
	height:100%;
}

ul.tabs
{
	margin: 0 0 11px 20px;
}

#andmed
{
	text-align:left;
}

valimata
{
	color:red;
}

#valiPiirkond,
#valiErakond,
#annaHaal
{
	background-color:lightyellow;
	color:red;
}

.web_dialog_overlay,
.web_dialog_overlay2
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}

.web_dialog,
.web_dialog2
{
   display: none;
   position: fixed;
   width: 380px;
   height: 200px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #FFA07A;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}

.web_dialog_title,
.web_dialog_title2
{
   border-bottom: solid 2px #FFA07A;
   background-color: #FFFFE0;
   padding: 4px;
   color: lightsalmon;
   font-weight:bold;
}

.web_dialog_title a,
.web_dialog_title2 a
{
   color: lightsalmon;
   text-decoration: none;
}

.align_right
{
   text-align: right;
}

#tableStiil,
#tableStiil2
{
	width:100%;
	border:0px;
	cellpading:0;
	cellspacing:0;
}

#piirkond,
#test,
#erakond
{
	font-weight:bold;
}

#erakondModal,
#piirkondModal
{
	colspan:2;
	padding-left: 15px;	
}

.sideMenu
{
	width:20%;
}

.statPiirkondContent,
.statErakondContent,
.statKandidaadidContent,
.statRiiklikContent
{
	display:none;
	margin-left:20%;	
}

#statPiirkond,
#kandideeriEnnast,
#statErakond,
#statKandidaadid,
#statRiiklik,
#kuvaKandidaadid,
#logiButton,
.logiSisse
{
	background-color:lightyellow;
}

.filter
{
	width:95%;
}

.andmedContent,
#kandideeri
{
	display:none;
}

.logiV2lja
{
	background-color:lightyellow;
	display:none;
}

#printButton
{
	font-size:30px;
	font-weight:bold;
	color:blue;
}

@media print 
{
	html,body
	{
		visibility:hidden;
		height:100%;
		overflow:hidden;
	}
	.statKandidaadidContent,
	.statErakondContent,
	.statPiirkondContent,
	.statRiiklikContent
	
	{
		visibility:visible;
		position: absolute;
		margin-left:-15px;

	}
	
	
	#printButton 
	{
		display:none;
	}
}

#hoiatused
{
	text-align:center;
	color:red;
}